<div>
  <h1>User Show</h1>


  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>



  <p>
    <strong>Training Plans:</strong>
    <ul>
      <% @user.training_plans.each do |plan| %>
        <li>Training Plan ID: <%= plan.id %></li>
      <% end %>
    </ul>
  </p>
</div>
