<footer class="mx-auto bg-var-white">
    <div class="flex items-center justify-center gap-3">
        <%= image_tag("mascot0.png", alt: "logo TheWave", class: "w-10 h-10 rounded-full") %>
        <p>The Wave</p>
    </div>
</footer>
