<div class="rounded-lg mt-8" style="height: 50px; margin-top:100px; margin-left: 100px; margin-right: 100px; margin-bottom:10px;">
  <p style="font-size:32px; margin-bottom: 20px; color: white">Bienvenue dans l’univers The Wave!</p>
</div>

<div class="mx-auto bg-var-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" style="padding:10px; margin-top: 30px; margin-bottom: 50px; margin-left:100px; margin-right:100px">
  <div class="flex mx-auto" style="height:400px">
    <div class="rounded-lg mt-8" style="width: 450px; height: 400px; margin-bottom:60px; position: relative; overflow: hidden;">
      <img src="https://res.cloudinary.com/dxqaj3mdo/image/upload/v1733318898/nimxbgdzudj94lx5hjg3.png"
          id="current-image"
          alt="Mascotte"
          style="width: 50%; height: 50%; object-fit: contain; position: absolute; top: 90px; left: 90px;">
    </div>
    <div class="fixed-container rounded-lg mt-8 mx-auto" style="width: 600px; height: 600px; margin:100px;">
      <div id="text-container" class="w-2/3">
        <p class="hidden" style="margin-top: 20px; font-size: 12px; font-family: 'Courier Prime', monospace;">il y a quelques semaines tu rentrais en formation… </p>
        <p class="hidden" style="font-size: 12px; font-family: 'Courier Prime', monospace;">et que de découvertes depuis!</p>
        <p class="hidden" style="font-size: 12px; font-family: 'Courier Prime', monospace;">... des outils, des langages, des méthodes, des teachers, des collègues ... une communauté  </p>
        <p class="hidden" style="margin-bottom: 20px; font-size: 12px; font-family: 'Courier Prime', monospace;">Félicitations! Te voilà à présent dans le grand bain!</p>
        <p class="hidden" style="margin-bottom: 20px; font-size: 12px; font-family: 'Courier Prime', monospace;">Pour la suite, The Wave a mis en place des lignes d’eau pour te guider</p>
        <p class="hidden" style="font-size: 12px; font-family: 'Courier Prime', monospace;">En poursuivant dans l’univers The Wave, nous te proposons de :</p>
        <p class="hidden" style="font-size: 12px; font-family: 'Courier Prime', monospace;">    - T’aider à faire la synthèse de tes travaux et de tes acquis</p>
        <p class="hidden" style="font-size: 12px; font-family: 'Courier Prime', monospace;">    - De co-construire un plan de développement continu</p>
        <p class="hidden" style="margin-bottom: 20px; font-size: 12px; font-family: 'Courier Prime', monospace;">    - et de te guider dans tes premières réalisations</p>
        <p class="hidden" style="font-size: 12px; font-family: 'Courier Prime', monospace;">Es-tu prêt à surfer sur la vague ?</p>
      </div>
    </div>
  </div>
  <div style="height: 60px; padding-left: 180px; padding-top:10px;" d="stop-audio-button">
    <%= link_to "Allons surfer", new_user_registration_path, class: "text-white bg-primary-green my-5 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
  </div>
</div>

<audio id="background-audio" loop>
  <source src="https://res.cloudinary.com/dxqaj3mdo/video/upload/v1733331685/ntfnelk9mgmgfdxfuorx.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<button id="audio-toggle-button" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">
  <svg id="mute-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5v14l11-7-11-7z" />
  </svg>
  <svg id="unmute-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5v14l11-7-11-7z" />
  </svg>
</button>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const audioElement = document.getElementById('background-audio');
    const toggleButton = document.getElementById('audio-toggle-button');
    const muteIcon = document.getElementById('mute-icon');
    const unmuteIcon = document.getElementById('unmute-icon');

    toggleButton.addEventListener('click', function () {
      if (audioElement.paused) {
        audioElement.play().catch(error => {
          console.log('Audio playback failed:', error);
        });
        muteIcon.classList.add('hidden');
        unmuteIcon.classList.remove('hidden');
      } else {
        audioElement.pause();
        muteIcon.classList.remove('hidden');
        unmuteIcon.classList.add('hidden');
      }
    });
  });
</script>
