<div data-controller="home" data-home-images-value='[
  "https://res.cloudinary.com/dxqaj3mdo/image/upload/v1733318898/w5cep9i8saecicddxv65.png",
  "https://res.cloudinary.com/dxqaj3mdo/image/upload/v1733318898/drppcbyvo8t3fdw3wqpv.png",
  "https://res.cloudinary.com/dxqaj3mdo/image/upload/v1733318897/psiuuz8akjveew2nyefz.png",
  "https://res.cloudinary.com/dxqaj3mdo/image/upload/v1733318898/kllkx6lax4q3m8uptkeo.png",
  "https://res.cloudinary.com/dxqaj3mdo/image/upload/v1733325154/vvxf1uedxvulgjkv8tts.png"
]'>
  <div class="rounded-lg mt-8" style="height: 50px; margin-top:100px; margin-left: 100px; margin-right: 100px; margin-bottom:10px;">
    <p style="font-size:32px; margin-bottom: 20px; color: white">Bienvenue dans l’univers The Wave!</p>
  </div>

  <div class="mx-auto bg-var-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" style="padding:10px; margin-top: 30px; margin-bottom: 50px; margin-left:100px; margin-right:100px">
    <div class="flex mx-auto" style="height:400px">
      <div class="rounded-lg mt-8" style="width: 450px; height: 400px; margin-bottom:60px; position: relative; overflow: hidden;">
        <img data-home-target="image"
             src="https://res.cloudinary.com/dxqaj3mdo/image/upload/v1733318898/nimxbgdzudj94lx5hjg3.png"
             alt="Mascotte"
             style="width: 50%; height: 50%; object-fit: contain; position: absolute; top: 90px; left: 90px;">
      </div>
      <div class="fixed-container rounded-lg mt-8 mx-auto" style="width: 600px; height: 600px; margin:100px;">
        <div id="text-container" class="w-2/3">
          <p class="hidden" data-home-target="paragraph" style="margin-top: 20px; font-size: 12px; font-family: 'Courier Prime', monospace;">il y a quelques semaines tu rentrais en formation… </p>
          <p class="hidden" data-home-target="paragraph" style="font-size: 12px; font-family: 'Courier Prime', monospace;">et que de découvertes depuis!</p>
          <p class="hidden" data-home-target="paragraph" style="font-size: 12px; font-family: 'Courier Prime', monospace;">... des outils, des langages, des méthodes, des teachers, des collègues ... une communauté  </p>
          <p class="hidden" data-home-target="paragraph" style="margin-bottom: 20px; font-size: 12px; font-family: 'Courier Prime', monospace;">Félicitations! Te voilà à présent dans le grand bain!</p>
          <p class="hidden" data-home-target="paragraph" style="margin-bottom: 20px; font-size: 12px; font-family: 'Courier Prime', monospace;">Pour la suite, The Wave a mis en place des lignes d’eau pour te guider</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center" data-controller="home"
  data-home-redirect-url-value="<%= new_user_registration_path %>">
      <%= link_to "Allons surfer", new_user_registration_path, class: "text-base font-small text-[#1B9C91]", data: { action: "home#stopAudioAndRedirect" } %>
    </div>
  </div>

  <audio id="background-audio" loop>
    <source src="https://res.cloudinary.com/dxqaj3mdo/video/upload/v1733331685/ntfnelk9mgmgfdxfuorx.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <div style="margin-left: 90px">
    <button data-action="home#toggleAudio" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">
      <i data-home-target="audioIcon" class="fa-solid fa-volume-xmark"></i>
    </button>
  </div>
</div>
