<div class="bg-var-white my-5 ml-5 mr-5 p-4">


    <!--//Début de la liste-->
  <div class="flex items-start flex-col font-[sans-serif] max-w-[250px] " style="gap: 3.5rem;">
    <div class="relative timeline flex items-center justify-center p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm dark:text-gray-400 sm:text-base sm:p-4 sm:space-x-4 rtl:space-x-reverse" style="width:500px;">
      <div class="mr-6">
        <p class="text-[10px] font-bold text-gray-400">STEP 1</p>
        <h6 class="text-base font-bold text-gray-800 mt-2">Site vitrine / Site du portfolio</h6>
        <form action="" method="get" class="flex flex-col">
          <div class="flex justify-center items-center my-3" style="width:100%;">
            <label for="">Lien GitHub</label>
            <input class="placeholder-input focus:outline-none focus:ring-2 border-input focus:ring-primary-green border-gray-200 ml-3" type="text" placeholder="insert ton lien ici">
          </div>
          <div class="flex justify-center items-center mb-3" style="width:100%;">
            <label for="">Lien url</label>
            <input style="margin-left:2.9rem" type="text" placeholder="insert ton url ici" class="placeholder-input focus:outline-none focus:ring-2 border-input focus:ring-primary-green border-gray-200 ml-3">
          </div>
          <input type="submit" value="Enregistrer" class="text-white bg-primary-green my-5 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center cursor-pointer" style="width: 160px;margin:0 auto"/>
        </form>
      </div>
    </div>
    <!--//Fin du premier bloc-->
    <div class="relative timeline flex items-center justify-center p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm dark:text-gray-400 sm:text-base sm:p-4 sm:space-x-4 rtl:space-x-reverse" style="width:500px;">
      <div class="mr-6">
        <p class="text-[10px] font-bold text-gray-400">STEP 2</p>
        <h6 class="text-base font-bold text-gray-800 mt-2">Création d'une application contenant 5 tables de données</h6>
        <form action="" method="get" class="flex flex-col">
          <div class="flex justify-center items-center my-3" style="width:100%;">
            <label for="">Lien GitHub</label>
            <input class="placeholder-input focus:outline-none focus:ring-2 border-input focus:ring-primary-green border-gray-200 ml-3" type="text" placeholder="insert ton lien ici">
          </div>
          <div class="flex justify-center items-center mb-3" style="width:100%;">
            <label for="">Lien url</label>
            <input style="margin-left:2.9rem" type="text" placeholder="insert ton url ici" class="placeholder-input focus:outline-none focus:ring-2 border-input focus:ring-primary-green border-gray-200 ml-3">
          </div>
          <input type="submit" value="Enregistrer" class="text-white bg-primary-green my-5 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center cursor-pointer" style="width: 160px;margin:0 auto"/>
        </form>
      </div>
    </div>
    <!--//Fin du deuxième bloc-->
    <div class="relative timeline flex items-center justify-center p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm dark:text-gray-400 sm:text-base sm:p-4 sm:space-x-4 rtl:space-x-reverse" style="width:500px;">
      <div class="mr-6">
        <p class="text-[10px] font-bold text-gray-400">STEP 3</p>
        <h6 class="text-base font-bold text-gray-800 mt-2">Création d'une application utilisant une API</h6>
        <form action="" method="get" class="flex flex-col">
          <div class="flex justify-center items-center my-3" style="width:100%;">
            <label for="">Lien GitHub</label>
            <input class="placeholder-input focus:outline-none focus:ring-2 border-input focus:ring-primary-green border-gray-200 ml-3" type="text" placeholder="insert ton lien ici">
          </div>
          <div class="flex justify-center items-center mb-3" style="width:100%;">
            <label for="">Lien url</label>
            <input style="margin-left:2.9rem" type="text" placeholder="insert ton url ici" class="placeholder-input focus:outline-none focus:ring-2 border-input focus:ring-primary-green border-gray-200 ml-3">
          </div>
          <input type="submit" value="Enregistrer" class="text-white bg-primary-green my-5 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center cursor-pointer" style="width: 160px;margin:0 auto"/>
        </form>
      </div>
    </div>
    <!--//Fin du troisième bloc-->
    <div class="relative timeline flex items-center justify-center p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm dark:text-gray-400 sm:text-base sm:p-4 sm:space-x-4 rtl:space-x-reverse" style="width:500px;">
      <div class="mr-6">
        <p class="text-[10px] font-bold text-gray-400">STEP 4</p>
        <h6 class="text-base font-bold text-gray-800 mt-2">Création d'une API</h6>
        <form action="" method="get" class="flex flex-col">
          <div class="flex justify-center items-center my-3" style="width:100%;">
            <label for="">Lien GitHub</label>
            <input class="placeholder-input focus:outline-none focus:ring-2 border-input focus:ring-primary-green border-gray-200 ml-3" type="text" placeholder="insert ton lien ici">
          </div>
          <div class="flex justify-center items-center mb-3" style="width:100%;">
            <label for="">Lien url</label>
            <input style="margin-left:2.9rem" type="text" placeholder="insert ton url ici" class="placeholder-input focus:outline-none focus:ring-2 border-input focus:ring-primary-green border-gray-200 ml-3">
          </div>
          <input type="submit" value="Enregistrer" class="text-white bg-primary-green my-5 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center cursor-pointer" style="width: 160px;margin:0 auto"/>
        </form>
      </div>
    </div>
    <!--//Fin du quatrième bloc-->
        <div class="relative timeline flex items-center justify-center p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm dark:text-gray-400 sm:text-base sm:p-4 sm:space-x-4 rtl:space-x-reverse" style="width:500px;">
      <div class="mr-6">
        <p class="text-[10px] font-bold text-gray-400">STEP 5</p>
        <h6 class="text-base font-bold text-gray-800 mt-2">Création d'une application Front-End qui consomme une application API</h6>
        <form action="" method="get" class="flex flex-col">
          <div class="flex justify-center items-center my-3" style="width:100%;">
            <label for="">Lien GitHub</label>
            <input class="placeholder-input focus:outline-none focus:ring-2 border-input focus:ring-primary-green border-gray-200 ml-3" type="text" placeholder="insert ton lien ici">
          </div>
          <div class="flex justify-center items-center mb-3" style="width:100%;">
            <label for="">Lien url</label>
            <input style="margin-left:2.9rem" type="text" placeholder="insert ton url ici" class="placeholder-input focus:outline-none focus:ring-2 border-input focus:ring-primary-green border-gray-200 ml-3">
          </div>
          <input type="submit" value="Enregistrer" class="text-white bg-primary-green my-5 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center cursor-pointer" style="width: 160px;margin:0 auto"/>
        </form>
      </div>
    </div>
    <!--//Fin du cinquième bloc-->
  </div>
  <!--//Fin de la liste-->
</div>
